<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!-- CSS (load bootstrap from a CDN) -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"> -->
</head>

<body>
    <main>
        <div>
            <p>Bonjour <%= name %></p>
            <p>Voici un mot de passe provisoire valable 1h : <%= password %></p>
            <p>https://patachou.herokuapp.com/</p>
            <p>A bientôt!<br />
                L'équipe <im src="../../img/signature.png" /></p>
        </div>
    </main>
</body>
</html>