<!-- <style type="text/css">
</style> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!-- CSS (load bootstrap from a CDN) -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"> -->
</head>

<body>
    <main>
        <div>
            <p>Bonjour <%= name %>!</p>
            <p>
                Nous nous faisons une joie de vous compter parmi les becs sucrés de Patachou.</p>
            <p>A bientôt!<br />
                <a href="https://patachou.herokuapp.com/"><img src="https://res.cloudinary.com/ndege65/image/upload/v1607184853/patachou/signature_gnkr4e.png" width="80px" alt="L'équipe Patachou"/></a></p>
        </div>
    </main>
</body>
</html>